In [4]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Load Dataset

In [5]:
df = pd.read_csv("task1_data.txt")
train_labels = pd.read_csv("task1_train_label.txt", header=None, sep="\t", names=["order", "label"])
valid_labels = pd.read_csv("task1_valid_label.txt", header=None, sep="\t", names=["order", "label"])
test_query = pd.read_csv("task1_test_query.txt",header=None, names=["order"])

In [7]:
test_query["label"] = -1

In [8]:
train_df = df.merge(train_labels, on="order")
valid_df = df.merge(valid_labels, on="order")
test_df = df.merge(test_query, on="order")

In [9]:
labels = pd.concat([train_labels, valid_labels, test_query])

total_length = len(train_labels) + len(valid_labels) + len(test_query)

train_masks = np.concatenate([np.ones(len(train_labels)), np.zeros(total_length - len(train_labels))])
valid_masks = np.concatenate([np.zeros(len(train_labels)), np.ones(len(valid_labels)), np.zeros(len(test_query))])
test_masks = np.concatenate([np.zeros(total_length - len(test_query)), np.ones(len(test_query))])

masks = pd.DataFrame({"order": labels["order"],"train_masks": train_masks, "valid_masks": valid_masks, "test_masks": test_masks})
masks

         order  train_masks  valid_masks  test_masks
0       298957          1.0          0.0         0.0
1       570617          1.0          0.0         0.0
2       654410          1.0          0.0         0.0
3       286127          1.0          0.0         0.0
4        39521          1.0          0.0         0.0
...        ...          ...          ...         ...
127373  745048          0.0          0.0         1.0
127374  541377          0.0          0.0         1.0
127375  310744          0.0          0.0         1.0
127376  448242          0.0          0.0         1.0
127377  152315          0.0          0.0         1.0

[849185 rows x 4 columns]

In [10]:
df = df.merge(labels, on="order")
df.head(3)

    order  product  customer  color  size  group  label
0  298957    54654    192219    169    10     11      0
1  298957    57127    192219    611    10     11      0
2  570617    23677    322757     43    24     19      1

In [31]:
valid_df

         order  product  customer  color  size  group  label
0       529565    10260    212452     92    17     19      0
1       529565    51789    212452    169    17     19      0
2       529565    12020    212452    313    17     19      0
3       529565    17961    212452    627    10     19      0
4       529565    47772    212452    409    17      6      0
...        ...      ...       ...    ...   ...    ...    ...
386801  649891    29753    106325     81    17      0      2
386802  735831     3463     37468    249    14      9      0
386803  435829    21960    270329     31    10     11      0
386804  435829    58150    270329    548    17     11      0
386805  435829    20653    270329    437    17      8      0

[386806 rows x 7 columns]

# Create Customer Edgelist

In [51]:
def get_customer_edgelist(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns the customer edgelist with the following edge attributes: customer, order, n_products, label
    
    Args:
        df (pandas.DataFrame): DataFrame containing customer order information.
    Returns:
        pandas.DataFrame: DataFrame containing customer edgelist.
    """
    # Group by customer
    customer_groups = df.groupby(['order', 'customer', 'label']).size().reset_index().rename(columns={0: 'n_products'})
    return customer_groups[['customer', 'order', 'n_products', 'label']].sort_values(by='customer')

def save_customer_edgelist(df: pd.DataFrame, filename: str) -> None:
    """
    Saves the customer edgelist to a file.
    
    Args:
        df (pandas.DataFrame): DataFrame containing customer edgelist.
        filename (str): Filename to save the customer edgelist to.
    """
    output = get_customer_edgelist(df)
    output.to_csv(filename, sep=',', index=False)

In [71]:
# save_customer_edgelist(train_df, 'train_customer_edgelist.csv')
customer_edge_list = get_customer_edgelist(df)
customer_edge_list = customer_edge_list.merge(masks, on="order")
customer_edge_list.to_csv("customer_edgelist.csv", index=False)

# Create Order Edgelist

In [7]:
def get_order_edgelist(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns the order edgelist with the following edge attributes: order, product, n_customers, label
    
    Args:
        df (pandas.DataFrame): DataFrame containing customer order information.
    Returns:
        pandas.DataFrame: DataFrame containing order edgelist.
    """
    # Group by order
    order_groups = df.groupby(['order', 'product', 'label','color','size']).size().reset_index().rename(columns={0: 'n_customers'})
    return order_groups[['order', 'product', 'label','color','size']].sort_values(by='order')

def save_order_edgelist(df: pd.DataFrame, filename: str) -> None:
    """
    Saves the order edgelist to a file.
    
    Args:
        df (pandas.DataFrame): DataFrame containing order edgelist.
        filename (str): Filename to save the order edgelist to.
    """
    output = get_order_edgelist(df)
    output.to_csv(filename, sep=',', index=False)

In [10]:
# save_order_edgelist(train_df, 'train_order_edgelist.csv')
save_order_edgelist(df, 'order_edgelist.csv')

# Create Customer Node Attributes
Possibly find some way to find the average size of product ordered, but also linked to product type.

In [70]:
def get_customer_node_attributes(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns the customer node attributes with the following attributes: customer, n_orders, n_products, label
    
    Args:
        df (pandas.DataFrame): DataFrame containing customer order information.
    Returns:
        pandas.DataFrame: DataFrame containing customer node attributes.
    """
    # Group by customer
    customer_groups = df.groupby(['customer', 'order', 'label']).size().reset_index().rename(columns={0: 'n_products'})
    customer_groups['n_not_returned'] = customer_groups['label'].apply(lambda x: 1 if x == 0 else 0)
    customer_groups['n_partial_returned'] = customer_groups['label'].apply(lambda x: 1 if x == 1 else 0)
    customer_groups['n_fully_returned'] = customer_groups['label'].apply(lambda x: 1 if x == 2 else 0)
    customer_groups = customer_groups.groupby('customer').agg({'order': 'count', 'n_not_returned': 'sum', 'n_partial_returned': 'sum', 'n_fully_returned': 'sum', 'n_products': 'sum'}).reset_index().rename(columns={'order': 'n_orders'})
    return customer_groups

def save_customer_node_attributes(df: pd.DataFrame, filename: str) -> None:
    """
    Saves the customer node attributes to a file.
    
    Args:
        df (pandas.DataFrame): DataFrame containing customer node attributes.
        filename (str): Filename to save the customer node attributes to.
    """
    output = get_customer_node_attributes(df)
    output.to_csv(filename, sep=',', index=False)

In [67]:
save_customer_node_attributes(df, 'customer_node_attributes.csv')

# Create Order Node Attributes

In [12]:
def get_order_node_attributes(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns the order node attributes with the following attributes: customer, n_orders, n_products, label
    
    Args:
        df (pandas.DataFrame): DataFrame containing customer order information.
    Returns:
        pandas.DataFrame: DataFrame containing customer node attributes.
    """
    customer_groups = df.groupby(['order', 'label']).size().reset_index().rename(columns={0: 'n_products'})
    return customer_groups

def save_order_node_attributes(df: pd.DataFrame, filename: str) -> None:
    """
    Saves the order node attributes to a file.
    
    Args:
        df (pandas.DataFrame): DataFrame containing order node attributes.
        filename (str): Filename to save the order node attributes to.
    """
    output = get_order_node_attributes(df)
    output.to_csv(filename, sep=',', index=False)

In [68]:
# save_order_node_attributes(train_df, 'train_order_node_attributes.csv')
save_order_node_attributes(df, 'order_node_attributes.csv')

# Create Product Node Attributes

In [28]:
#todo: Finish this
def get_product_node_attributes(df: pd.DataFrame) -> pd.DataFrame:
    """
    Calculate the node attributes for each product in the given DataFrame.

    Parameters:
    df (pd.DataFrame): The input DataFrame containing the product data.

    Returns:
    pd.DataFrame: A DataFrame with the calculated node attributes for each product.
    """
    # Function implementation goes here
    pass

    # Group by customer
    product_stats = df.groupby('product').agg(
    total_count=('product', 'count'),
    return_1=('label', lambda x: (x==1).sum()),
    return_2=('label', lambda x: (x==2).sum())
    ).reset_index(drop=True)
    product_stats['return1_rate'] = product_stats['return_1'] / product_stats['total_count']
    product_stats['return2_rate'] = product_stats['return_2'] / product_stats['total_count']
    product_stats.rename_axis('product', inplace=True)
    return product_stats

def save_product_node_attributes(df: pd.DataFrame, filename: str) -> pd.DataFrame:
    """
    Save the product node attributes to a CSV file.

    Parameters:
    - df (pd.DataFrame): The input DataFrame containing the product node attributes.
    - filename (str): The name of the CSV file to save the attributes to.

    Returns:
    - pd.DataFrame: The DataFrame containing the product node attributes.

    """
    output = get_product_node_attributes(df)
    output.to_csv(filename, index=True)

In [29]:
# Returns calculated only on training data
save_product_node_attributes(train_df, "data/product_node_attributes.csv")
# p_s = get_product_node_attributes(train_df)

In [26]:
p_s

         total_count  return1_rate  return2_rate
product
0                 19      0.789474      0.052632
1                 28      0.535714      0.107143
2                 39      0.564103      0.205128
3                 38      0.736842      0.026316
4                 17      0.882353      0.058824
...              ...           ...           ...
58410              9      0.666667      0.333333
58411             27      0.592593      0.222222
58412             28      0.678571      0.071429
58413             19      0.842105      0.052632
58414              1      1.000000      0.000000

[58415 rows x 3 columns]